@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  color: #6d7f97;
  box-sizing: border-box;
  height: 100vh; }

.outer-div {
  background-color: #e5eff5;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0; }

.container {
  width: 45%;
  margin: auto;
  display: grid;
  grid-template-rows: 45% 55%;
  grid-template-columns: 50% 50%;
  height: 70vh;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }

.one {
  grid-column: 1/-1;
  padding: 1.9rem 4.1rem; }

.two {
  background-color: #2ab2af;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #e5eff5;
  padding: 3rem; }

.three {
  background-color: rgba(42, 178, 175, 0.8);
  color: #e5eff5;
  padding: 2rem 3.3rem; }

.main-title {
  color: #2ab2af;
  font-size: 2.3rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-weight: 700; }

.sub-title {
  color: #c0df34;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 0.8rem; }

.main-text {
  color: #98a6bd;
  font-size: 1.5rem;
  line-height: 1.5; }

.dollar {
  font-size: 2.9rem;
  font-weight: 700;
  color: white;
  margin-right: 1.6rem; }

.access {
  font-size: 1.7rem; }

.btn {
  width: 100%;
  padding: 1.4rem;
  border-radius: 0.9rem;
  border: none;
  background-color: #c0df34;
  color: #e5eff5;
  font-size: 1.4rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }

.btn:hover {
  background-color: rgba(192, 223, 52, 0.9); }

.subscription {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.6rem; }

.per-month {
  color: #e5eff5;
  font-size: 1.6rem; }

.why {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.5rem; }

li {
  list-style: none;
  font-size: 1.3rem;
  margin-bottom: 0.4rem; }

ul {
  padding: 0; }

@media only screen and (max-width: 768px) {
  .container {
    display: block;
    width: 90%;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .attribution {
    display: none; } }
