@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

//variables
$cyan: hsl(179, 62%, 43%);
$brightYellow: hsl(71, 73%, 54%);
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  color: hsl(214, 17%, 51%);
  box-sizing: border-box;
  height: 100vh;
}

.background {
  background-color: hsl(0, 0%, 98%);
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.container {
  width: 45%;
  margin: auto;
  display: grid;
  grid-template-rows: 45% 55%;
  grid-template-columns: 50% 50%;
  height: 70vh;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

  &__upper-content {
    grid-column: 1/-1;
    padding: 1.9rem 4.1rem;

    &--main-title {
      color: rgb(42, 178, 175);
      font-size: 2.3rem;
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
      font-weight: 700;
    }

    &--sub-title {
      color: $brightYellow;
      font-size: 1.7rem;
      font-weight: 700;
      margin-bottom: 0.8rem;
    }

    &--main-text {
      color: $grayishBlue;
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }

  &__left-content {
    background-color: $cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: $lightGray;
    padding: 3rem;
    border-bottom-left-radius: 5px;

    &--access {
      font-size: 1.7rem;
    }

    &--subscription {
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 0.6rem;
    }

    &--per-month {
      color: $lightGray;
      font-size: 1.6rem;
    }

    &--dollar {
      font-size: 2.9rem;
      font-weight: 700;
      color: white;
      margin-right: 1.6rem;
    }
  }

  &__right-content {
    background-color: hsla(179, 62%, 43%, 0.8);
    color: $lightGray;
    padding: 2rem 3.3rem;
    border-bottom-right-radius: 5px;

    &--why {
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }
  }
}

.btn {
  width: 100%;
  padding: 1.4rem;
  border-radius: 0.9rem;
  border: none;
  background-color: $brightYellow;
  color: $lightGray;
  font-size: 1.4rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: hsla(71, 73%, 54%, 0.9);
}

li {
  list-style: none;
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}

ul {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .container {
    display: block;
    width: 90%;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;

    &__left-content {
      border-bottom-left-radius: 0;
    }

    &__right-content {
      border-bottom-left-radius: 5px;
    }
  }
  .attribution {
    display: none;
  }
}
